body{
    font-family:Arial,sans-serif;
    background: rgb(176, 230, 247);
    padding:30px;
}

.container{
    background: white;
    padding:25px;
    max-width:400px;
    margin:auto;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    border-radius:8px;
}

h2{
    text-align:center;
}

.form-group{
    margin-left:5px;
    margin-bottom:15px;
}

input[type="text"],input[type="email"],input[type="number"]{
    width:90%;
    padding:10px;
    margin-top:5px;
    margin-left:2px;
    margin-right:2px;
    border:2px solid #ccc;
    border-radius:4px;
    font-size:1em;
}

input.valid{
    border-color:green;
}

input.invalid{
    border-color:red;
}

.error{
    color:red;
    font-size:0.9em;
    display:block;
    margin-top:5px;
    visibility:hidden;
}

input.invalid+.error{
    visibility:visible;
}

button{
    width:100%;
    padding:12px;
    background:rgb(5, 75, 141);
    color:white;
    border:none;
    border-radius:4px;
    font-size:1em;
}


